.container{
    background-color:rgb(234, 234, 234);
    margin-bottom: 50px;
}

.container-fluid{
    background-color: sandybrown;
}

.col-12{
    border: 1px solid black;
}

.progress{
    height: 30px;;
}